<template>
  <v-container fluid fill-height>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm4 elevation-6>
        <v-snackbar v-model="snackbar" :color="colorSnackbar" timeout="3000">
          {{ textSnackbar }}

          <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="snackbar = false">
              Close
            </v-btn>
          </template>
        </v-snackbar>
        <v-card>
          <v-card-title class="blue darken-3"
            ><h4 class="white--text">Login</h4></v-card-title
          >
          <v-form v-model="valid" ref="loginForm" @submit.prevent="login">
            <v-card-text class="pt-4">
              <div v-if="errors.length">
                <div v-for="(error, index) in errors" :key="index">
                  <span class="red--text font-weight-bold">{{ error }}</span>
                </div>
              </div>
              <v-text-field
                v-model="input.username"
                label="Username"
                :rules="[(v) => !!v || 'Username is required']"
                required
              ></v-text-field>
              <v-text-field
                type="password"
                v-model="input.password"
                :rules="[(v) => !!v || 'Password is required']"
                label="Password"
                required
              />
            </v-card-text>
            <v-card-actions>
              <v-layout justify-center>
                <v-btn
                  type="submit"
                  :class="{
                    'blue darken-2 white--text': !loggingIn && valid,
                  }"
                >
                  Login
                </v-btn>
              </v-layout>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// @ is an alias to /src
import { userService } from "@/services/user.service.js";

export default {
  name: "LoginForm",
  data: function() {
    return {
      input: {
        username: "",
        password: "",
      },
      errors: [],
      loggingIn: false,
      valid: true,
      colorSnackbar: "success",
      textSnackbar: "",
      snackbar: false,
    };
  },
  methods: {
    login() {
      if (this.input.username && this.input.password) {
        this.errors = [];
        this.loggingIn = true;
        userService
          .login(this.input.username, this.input.password)
          .then(() => {
            this.$bus.$emit("userEvent", "User logged in");
            this.showSnackbar(
              "You logged in successfully. You will be redirected in 3s.",
              "success"
            );

            setTimeout(() => {
              this.$router.push({ name: "Home" });
            }, 3000);
          })
          .catch((error) => {
            if (error == "Access Denied") {
              this.errors.push("Wrong username or password");
              this.$refs.loginForm.reset();
            } else {
              this.errors.push("An error occured");
            }
          });

        this.loggingIn = false;
      }
    },
    showSnackbar(text, color) {
      this.colorSnackbar = color;
      this.textSnackbar = text;
      this.snackbar = true;
    },
  },
};
</script>
