<template>
  <v-container fluid fill-height>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm6 elevation-6>
        <v-card>
          <v-card-title class="blue darken-3"
            ><h4 class="white--text">
              {{ userDetails.username }}
            </h4></v-card-title
          >
          <v-card-text class="pt-4">
            <v-layout flex>
              <v-flex xs12 sm12> Email: {{ userDetails.email }} </v-flex>
              <v-flex xs12 sm12>
                Rate:
                {{ userDetails.rates.length ? userDetails.averageRate : "-" }}/5
                ({{
                  userDetails.rates.length ? userDetails.rates.length : 0
                }}
                rate{{ userDetails.rates.length > 1 ? "s" : "" }})
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { userService } from "@/services";

export default {
  name: "ProfilePage",
  data: function() {
    return {
      user: {},
      userDetails: {},
    };
  },
  mounted() {
    this.user = JSON.parse(localStorage.getItem("user"));
    if (this.user) {
      userService.getByUsername(this.user.username).then((userDetails) => {
        this.userDetails = Object.assign({}, JSON.parse(userDetails));
      });
    }
  },
};
</script>
