<template>
  <v-container fluid fill-height>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm4 elevation-6>
        <v-snackbar v-model="snackbar" :color="colorSnackbar" timeout="3000">
          {{ textSnackbar }}

          <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="snackbar = false">
              Close
            </v-btn>
          </template>
        </v-snackbar>
        <v-card>
          <v-card-title class="blue darken-3"
            ><h4 class="white--text">Create an account</h4></v-card-title
          >
          <v-form v-model="valid" @submit.prevent="register">
            <v-card-text class="pt-4">
              <div v-if="errors.length">
                <div v-for="(error, index) in errors" :key="index">
                  <span class="red--text font-weight-bold">{{ error }}</span>
                </div>
              </div>
              <v-text-field
                v-model="input.username"
                label="Username"
                :rules="[(v) => !!v || 'Username is required']"
                required
              ></v-text-field>
              <v-text-field
                type="password"
                v-model="input.password"
                :rules="[(v) => !!v || 'Password is required']"
                label="Password"
                required
              />
              <v-text-field
                type="password"
                v-model="input.matchedPassword"
                :rules="confirmPasswordRules"
                label="Confirm password"
                required
              />
              <v-text-field
                v-model="input.email"
                :rules="emailRules"
                label="E-mail"
                required
              />
            </v-card-text>
            <v-card-actions>
              <v-layout justify-center>
                <v-btn
                  type="submit"
                  :class="{
                    'blue darken-2 white--text': !registeringIn && valid,
                  }"
                >
                  Register
                </v-btn>
              </v-layout>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// @ is an alias to /src
import { userService } from "@/services/user.service.js";

export default {
  name: "LoginForm",
  data: function() {
    return {
      input: {
        username: "",
        password: "",
        matchedPassword: "",
        email: "",
      },
      errors: [],
      registeringIn: false,
      valid: true,
      colorSnackbar: "success",
      textSnackbar: "",
      snackbar: false,
      emailRules: [
        (v) => !!v || "Email is required",
        (v) =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid",
      ],
      confirmPasswordRules: [
        (v) => !!v || "Confirm password is required",
        () =>
          this.input.password == this.input.matchedPassword ||
          "Confirm password must match password",
      ],
    };
  },
  methods: {
    register() {
      this.errors = [];
      this.registeringIn = true;
      const user = {
        username: this.input.username,
        password: this.input.password,
        matchedPassword: this.input.matchedPassword,
        email: this.input.email,
      };
      userService
        .register(user)
        .then(() => {
          this.showSnackbar(
            "Your account has been created. You can now login.",
            "success"
          );
          setTimeout(() => {
            this.$router.push({ name: "Login" });
          }, 3000);
        })
        .catch((error) => {
          console.log("error", error);
          this.errors.push("An error occured");
        });

      this.registeringIn = false;
    },
    showSnackbar(text, color) {
      this.colorSnackbar = color;
      this.textSnackbar = text;
      this.snackbar = true;
    },
  },
};
</script>
