<template>
  <v-container fluid fill-height>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm12 elevation-6>
        <v-snackbar v-model="snackbar" :color="colorSnackbar" timeout="3000">
          {{ textSnackbar }}

          <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="snackbar = false">
              Close
            </v-btn>
          </template>
        </v-snackbar>
        <v-card>
          <v-card-title class="blue darken-3">
            <h4 class="white--text">Put up for auction</h4>

            <v-spacer></v-spacer>

            <v-tooltip left>
              <template v-slot:activator="{ on, attrs }">
                <v-icon color="white" dark v-bind="attrs" v-on="on">
                  mdi-information-outline
                </v-icon>
              </template>
              <span>Your product will remain in auction for 3 days</span>
            </v-tooltip>
          </v-card-title>
          <v-form v-model="valid" ref="sellForm" @submit.prevent="auction">
            <v-card-text class="pt-4">
              <div v-if="errors.length">
                <div v-for="(error, index) in errors" :key="index">
                  <span class="red--text font-weight-bold">{{ error }}</span>
                </div>
              </div>
              <v-text-field
                v-model="input.name"
                label="Product name"
                :rules="[(v) => !!v || 'Product name is required']"
                required
              ></v-text-field>
              <v-textarea
                v-model="input.description"
                :rules="[(v) => !!v || 'Product description is required']"
                label="Product description"
                required
              ></v-textarea>
              <v-select
                :items="categories"
                item-text="name"
                item-value="name"
                v-model="input.category"
                label="Category"
              />
              <v-layout row wrap class="px-3">
                <v-flex xs10 class="pr-6">
                  <v-text-field
                    v-model="input.startingPrice"
                    :rules="[(v) => !!v || 'Starting price is required']"
                    type="number"
                    label="Starting price"
                  ></v-text-field>
                </v-flex>
                <v-flex xs2>
                  <v-select
                    :items="currencies"
                    item-text="name"
                    item-value="id"
                    v-model="input.currency"
                    label="Currency"
                  />
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-layout justify-center>
                <v-btn
                  type="submit"
                  :class="{
                    'blue darken-2 white--text': !selling && valid,
                  }"
                >
                  Put up for auction
                </v-btn>
              </v-layout>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { productService } from "@/services";
import _currencies from "@/data/currencies.json";
import _categories from "@/data/categories.json";

export default {
  name: "AuctionForm",
  data: function() {
    return {
      input: {
        name: "",
        description: "",
        startingPrice: "",
        currency: "",
        category: "",
        //images: [],
      },
      seller: {},
      valid: true,
      selling: false,
      errors: [],
      currencies: [],
      categories: [],
      colorSnackbar: "success",
      textSnackbar: "",
      snackbar: false,
      user: {},
    };
  },
  methods: {
    auction() {
      const user = JSON.parse(localStorage.getItem("user"));
      this.errors = [];
      this.selling = true;
      productService
        .auction(
          this.input.name,
          this.input.description,
          this.input.startingPrice,
          this.input.currency,
          this.input.category,
          user.username
        )
        .then(() => {
          this.showSnackbar(
            "Your product has been put up for auction. You will be redirected in 3s.",
            "success"
          );

          setTimeout(() => {
            this.$router.push({ name: "MyProducts" });
          }, 3000);
        })
        .catch((error) => {
          console.log(error);
          if (error == "Access Denied") {
            this.errors.push("Wrong username or password");
            this.$refs.loginForm.reset();
          } else {
            this.errors.push("An error occured");
          }
        });

      this.selling = false;
    },
    showSnackbar(text, color) {
      this.colorSnackbar = color;
      this.textSnackbar = text;
      this.snackbar = true;
    },
  },
  created() {
    this.currencies = _currencies;
    this.categories = _categories;
  },
};
</script>
