<template>
  <v-container fluid fill-height>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm12 elevation-6>
        <v-snackbar v-model="snackbar" :color="colorSnackbar" timeout="3000">
          {{ textSnackbar }}

          <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="snackbar = false">
              Close
            </v-btn>
          </template>
        </v-snackbar>
        <v-card>
          <v-card-title class="blue darken-3">
            <v-btn
              class="mx-2"
              fab
              dark
              small
              :color="product.unitPrice ? 'orange' : 'green'"
            >
              {{ product.unitPrice ? "SALE" : "BID" }}
            </v-btn>
          </v-card-title>
          <v-card-text class="pt-4">
            <div v-if="errors.length">
              <div v-for="(error, index) in errors" :key="index">
                <span class="red--text font-weight-bold">{{ error }}</span>
              </div>
            </div>
            <v-layout row wrap class="px-3">
              <v-flex xs8 class="pr-6">
                <p>Category: {{ product.category }}</p>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
              </v-flex>
              <v-divider vertical inset></v-divider>
              <v-flex xs3 class="ml-6" v-if="product.seller">
                Seller :
                <span class="font-weight-bold">
                  {{ product.seller.username }}
                </span>
                <p>
                  Average rate :
                  {{
                    product.seller.rates.length
                      ? product.seller.averageRate
                      : "-"
                  }}/5 ({{ product.seller.rates.length }} rate{{
                    product.seller.rates.length ? "s" : ""
                  }})
                </p>
              </v-flex>
            </v-layout>
            <v-layout row wrap class="px-3" v-if="!product.unitPrice">
              <v-flex xs8 class="pr-6">
                <p>
                  Starting price : {{ product.startingPrice }}
                  {{ product.currency }}
                </p>
                Actual winner :
                {{ product.buyer ? product.buyer.username : "-" }}
                <p v-if="product.buyer">
                  Current bid :
                  {{ product.bestPrice ? product.bestPrice : "-" }}
                  {{ product.currency }}
                </p>
              </v-flex>
            </v-layout>
            <v-layout row wrap class="px-3" v-if="!product.unitPrice">
              <v-flex xs4 class="pr-6">
                <v-text-field
                  v-model="input.price"
                  :rules="
                    product.bestPrice == 0 ? startingPriceRules : bestPriceRules
                  "
                  type="number"
                  :label="'Price (' + product.currency + ')'"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions v-if="product.seller != user.username">
            <v-layout justify-center>
              <v-btn
                v-if="product.unitPrice"
                :class="{
                  'blue darken-2 white--text': !buying,
                }"
                @click="buy"
                :disabled="product.seller.username == user.username"
              >
                Buy
              </v-btn>
              <v-btn
                v-else
                :class="{
                  'blue darken-2 white--text': !buying,
                }"
                @click="bid"
                :disabled="product.seller.username == user.username || buying"
              >
                Bid
              </v-btn>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { productService } from "@/services";

export default {
  name: "ProductDetailsPage",
  data: function() {
    return {
      buying: false,
      errors: [],
      colorSnackbar: "success",
      textSnackbar: "",
      snackbar: false,
      product: {},
      user: {},
      input: {
        price: "",
      },
      startingPriceRules: [
        (v) => !!v || "Bid is required",
        (v) =>
          v >= this.product.startingPrice ||
          "Price must be higher than starting price",
      ],
      bestPriceRules: [
        (v) => !!v || "Bid is required",
        (v) =>
          v > this.product.bestPrice ||
          "Price must be higher than actual best price",
      ],
    };
  },
  props: {
    id: String,
  },
  methods: {
    buy() {
      const user = JSON.parse(localStorage.getItem("user"));
      this.errors = [];
      this.selling = true;
      productService
        .buy(this.product, user)
        .then(() => {
          this.showSnackbar(
            "Product bought successfully. You will be redirected in 3s.",
            "success"
          );

          setTimeout(() => {
            this.selling = false;
            this.$router.push({ name: "MyProducts" }); // TODO: MyOrders
          }, 3000);
        })
        .catch((error) => {
          console.log(error);
          if (error == "Access Denied") {
            this.errors.push("Wrong username or password");
            this.$refs.loginForm.reset();
          } else {
            this.errors.push("An error occured");
          }
        });
    },
    bid() {
      const user = JSON.parse(localStorage.getItem("user"));
      this.errors = [];
      this.selling = true;
      productService
        .bid(this.product, user, this.input.price)
        .then(() => {
          this.showSnackbar(
            "You bid successfully. You will be redirected in 3s.",
            "success"
          );

          setTimeout(() => {
            this.selling = false;
            this.$router.push({ name: "MyProducts" }); // TODO: MyOrders
          }, 3000);
        })
        .catch((error) => {
          console.log(error);
          if (error == "Access Denied") {
            this.errors.push("Wrong username or password");
            this.$refs.loginForm.reset();
          } else {
            this.errors.push("An error occured");
          }
        });
    },
    showSnackbar(text, color) {
      this.colorSnackbar = color;
      this.textSnackbar = text;
      this.snackbar = true;
    },
  },
  mounted() {
    this.user = Object.assign({}, JSON.parse(localStorage.getItem("user")));
    console.log("test", this.user);

    productService.getById(parseInt(this.id)).then((product) => {
      this.product = Object.assign({}, product);
      this.sellerRate = this.product.seller.averageRate;
    });
  },
};
</script>
