<template>
  <div class="home">
    <v-container fluid fill-height>
      <v-layout flex align-center justify-center>
        <v-flex xs12 sm12 elevation-6>
          <v-card>
            <v-card-title class="blue darken-3">
              <h4 class="white--text">Products on sale</h4>
            </v-card-title>
            <div v-if="products.length">
              <v-card-text class="pt-4">
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="text-left">
                          Type
                        </th>
                        <th class="text-left">
                          Time left
                        </th>
                        <th class="text-left">
                          Category
                        </th>
                        <th class="text-left">
                          Product name
                        </th>
                        <th class="text-left">
                          Seller
                        </th>
                        <th class="text-left">
                          Seller rate
                        </th>
                        <th class="text-left">
                          Price
                        </th>
                        <th>Actual winner</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(product, index) in products"
                        :key="index"
                        @click="goToProductDetails(product.id)"
                        class="link"
                      >
                        <td>
                          <v-btn
                            class="mx-2"
                            fab
                            dark
                            small
                            :color="product.unitPrice ? 'orange' : 'green'"
                          >
                            {{ product.unitPrice ? "SALE" : "BID" }}
                          </v-btn>
                        </td>
                        <td>
                          {{
                            product.unitPrice
                              ? "-"
                              : timeleft(product) + " hours"
                          }}
                        </td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.seller.username }}</td>
                        <td>
                          {{
                            product.seller.averageRate
                              ? product.seller.averageRate
                              : "-"
                          }}/5 ({{ product.seller.rates.length }} rate{{
                            product.seller.rates.length > 1 ? "s" : ""
                          }})
                        </td>
                        <td>
                          {{
                            product.unitPrice
                              ? product.unitPrice
                              : product.startingPrice
                              ? product.startingPrice
                              : "-"
                          }}
                          {{ product.currency }}
                        </td>
                        <td :class="product.unitPrice ? 'grey lighten-1' : ''">
                          <div v-if="product.unitPrice"></div>
                          <div v-else>
                            <span v-if="product.buyer"
                              >{{ product.buyer.username }}:
                              {{ product.bestPrice }}
                              {{ product.currency }}</span
                            >
                            <span v-else>
                              -
                            </span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-card-text>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { productService } from "@/services";

export default {
  name: "Home",
  data() {
    return {
      products: [],
    };
  },
  created() {
    productService
      .getAllProducts()
      .then((products) => {
        this.products = Object.assign({}, products);
        console.log(this.products);
      })
      .catch((error) => {
        if (error == "Access Denied") {
          this.errors.push("Wrong username or password");
          this.$refs.loginForm.reset();
        } else {
          this.errors.push("An error occured");
        }
      });
  },
};
</script>
