<template>
  <div class="sell">
    <AuctionForm />
  </div>
</template>

<script>
// @ is an alias to /src
import AuctionForm from "@/components/product/AuctionForm";

export default {
  name: "Auction",
  components: {
    AuctionForm,
  },
};
</script>
