<template>
  <div class="sell">
    <MyProductsList />
  </div>
</template>

<script>
// @ is an alias to /src
import MyProductsList from "@/components/product/MyProductsList";

export default {
  name: "MyProducts",
  components: {
    MyProductsList,
  },
};
</script>
