<template>
  <div class="sell" v-if="id">
    <ProductDetailsPage :id="id" />
  </div>
</template>

<script>
// @ is an alias to /src
import ProductDetailsPage from "@/components/product/ProductDetailsPage";

export default {
  name: "ProductDetails",
  components: {
    ProductDetailsPage,
  },
  data() {
    return {
      id: null,
    };
  },
  created() {
    this.id = this.$route.params.id;
  },
};
</script>
