<template>
  <div class="sell">
    <SellForm />
  </div>
</template>

<script>
// @ is an alias to /src
import SellForm from "@/components/product/SellForm";

export default {
  name: "Sell",
  components: {
    SellForm,
  },
};
</script>
