<template>
  <div class="logout">
    <v-snackbar v-model="snackbar" color="green" timeout="3000">
      You disconnected successfully.

      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
// @ is an alias to /src
import { userService } from "@/services/user.service.js";

export default {
  name: "Logout",
  data() {
    return {
      snackbar: false,
    };
  },
  mounted() {
    this.snackbar = true;
    userService.logout();
    this.$bus.$emit("userEvent", "User logged out");
  },
};
</script>
