<template>
  <div class="register">
    <RegisterForm />
  </div>
</template>

<script>
// @ is an alias to /src
import RegisterForm from "@/components/user/RegisterForm";

export default {
  name: "Register",
  components: {
    RegisterForm,
  },
};
</script>
