<template>
  <v-app>
    <v-app-bar app color="grey lighten-4">
      <div class="d-flex align-center">
        <v-img
          alt="Logo"
          id="logo"
          contain
          src="@/assets/logo.png"
          transition="scale-transition"
          width="130"
          @click="goToMainpage"
        />
      </div>

      <v-spacer></v-spacer>

      <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="blue darken-2"
            @click="dialog = true"
            fluid
            v-bind="attrs"
            v-on="on"
          >
            <span class="mr-2 white--text">Sell product</span>
            <v-icon color="green lighten-2">mdi-cash-usd</v-icon>
          </v-btn>
        </template>

        <v-card>
          <v-card-title class="headline blue darken-2">
            <span class="white--text">Choose type</span>
          </v-card-title>

          <v-card-text>
            <div class="black--text font-weight-bold">
              Would you like to sell or auction?
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-layout justify-center>
              <v-btn
                color="primary"
                class="mr-1"
                text
                @click="dialog = false"
                :to="{ name: 'Sell' }"
              >
                Sell
              </v-btn>

              <v-btn
                color="primary"
                text
                @click="dialog = false"
                :to="{ name: 'Auction' }"
              >
                Auction
              </v-btn>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn
        v-if="user"
        color="blue darken-2"
        class="ml-1"
        :to="{ name: 'MyProducts' }"
        fluid
      >
        <span class="mr-2 white--text">My products on sale</span>
      </v-btn>

      <v-spacer></v-spacer>

      <div v-if="!user">
        <v-btn color="blue darken-2" :to="{ name: 'Register' }" fluid outlined>
          <span class="mr-2 blue--text darken-2--text">
            Register
          </span>
        </v-btn>
        <v-btn color="blue darken-2" :to="{ name: 'Login' }" fluid>
          <span class="mr-2 white--text">Login</span>
          <v-icon color="white">mdi-login</v-icon>
        </v-btn>
      </div>
      <div v-else>
        <v-btn class="mr-4 blue--text text--darken-2" :to="{ name: 'Profile' }">
          <v-icon color="blue darken-2" class="mr-2">mdi-account</v-icon
          >{{ username }}
        </v-btn>
        <v-btn color="red" :to="{ name: 'Logout' }" fluid>
          <span class="mr-2 white--text">Logout</span>
          <v-icon color="white">mdi-logout</v-icon>
        </v-btn>
      </div>
    </v-app-bar>

    <v-main id="main">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      user: null,
      dialog: false,
    };
  },
  computed: {
    username() {
      if (this.user) {
        return this.user.username;
      }

      return null;
    },
  },
  created() {
    this.user = JSON.parse(localStorage.getItem("user"));

    this.$bus.$on("userEvent", () => {
      this.user = JSON.parse(localStorage.getItem("user"));
    });
  },
  methods: {
    goToMainpage() {
      this.$router.push({ name: "Home" });
    },
  },
};
</script>

<style scoped>
#logo {
  cursor: pointer;
}
#main {
  background: #f5f5f5;
}
</style>
